body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, 'roboto';
}

img {
    max-width: 200px;
}

a {
    text-decoration: none;
    color: white;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white
}

.header-links {
    display: flex;
    gap: 10px;
}

.first-el {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    align-items: center;
    
    
}

.first-el > img {
    max-height: 175px;
}

.signup-el {
    max-width: 300px;
}

.second-el {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
}
.photo > p {
    max-width: 300px;
}
.photo {
    gap: 15px;
}




footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white
}