body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, 'roboto';
}

img {
    max-width: 200px;
}

a {
    text-decoration: none;
    color: white;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white
}

.header-links {
    display: flex;
    gap: 10px;
}

.main-content {
    min-height: 300px;
}

button {
    border-radius: 2px;
    border: 1px white solid;
    background-color: #3882F6;
    color: white;
    margin: 5px;
}

.first-el {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    align-items: center;
    
    
}

.first-el > img {
    max-height: 175px;
}

.signup-el {
    max-width: 300px;
}

.second-el {
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
}
.photo > p {
    max-width: 300px;
}
.photo {
    gap: 15px;
}


.third-el {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-el {
    max-width: 400px;
    
    
}

.quote-el > h3 {
    font-style: italic;
    font-size: 24px;
    color: #1F2937;
    font-weight: lighter;
}

.quote-el > p {
    text-align: right;
    
} 

.fourth-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    width: 800px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.container > button {
    align-self: flex-end;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    color: white
}